body {
    display: flex;
    flex-direction: row;
    
    width: fit-content;
    margin: 42px;
    padding: 42px;
    
    border-width: 2px;
    border-color: darkblue;
    border-style: solid;
}

#left img {
    display: block;

   width: 350px;
   height: 350px; 

   margin-bottom: 24px;
}

#name  {
    display: block;
    text-align: center;
    font-size: 20pt;
    font-weight: bold;
}

#right  .details {
    margin: 0;
    padding: 0;

    list-style: none;
}

#right .details li {
    margin-bottom: 20px;
    font-size: 15pt;  
}

#right  {
    display: flex;
    flex-direction: column;
}

#skillList {
    height: 64px;

    background-color: cornflowerblue;
    margin-top: auto;
}

#left {
    margin-right: 36px;
}